<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Usage Policy | CovidKashmir</title>
  {% include 'favicons.html' %}
  <link rel="stylesheet" href="assets/css/bulma.min.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/about.css">
  <script src="assets/js/jquery-3.4.1.min.js"></script>

  <link rel="stylesheet" href="/assets/css/brands.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/solid.min.css">
    <script src="assets/js/utils.js"></script>

    <link href="/assets/css/montserrat.css" rel="stylesheet">


</head>

<body>
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>

  <section class="section">


    <div class="about-container container">

      <div class="tile is-parent">
        <article class="tile is-child box">
          <!-- Put any content you want -->

          <h2>Data Usage Policy | Allowed Usage</h2>
          <br /><br/>
            <p>
                <strong><p>For Social Media and News Publications</p></strong>
                Media Platforms, Social Media Handles, People, Pages etc 
                can share our data with their followers, 
                subscribers by providing proper credits.
<br/><br/>
                <strong><p>For Developers and Data Scientists</p></strong>
                Developers, Data Scientists are not allowed to use our data without taking a proper consent 
                and giving a proper declaration regarding the intended use of the data.<br/>
                
                    <br/>
              For Contact:- <Strong>contact@covidkashmir.org</Strong> <br/> 
              <Strong>Last Updated: 3/31/2020</Strong>
                          
            </p>
          
          
        </article>

      </div>



    </div>



  </section>

  <div id="include-footer">
    {% include 'footer.html' %}
  </div>

  <script src="assets/js/widgetFunction.js"></script>

</body>

</html>
