<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DataLab | CovidKashmir</title>
  {% include 'favicons.html' %}
  <link rel="stylesheet" href="assets/css/bulma.min.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <script src="assets/js/jquery-3.4.1.min.js"></script>

  <link rel="stylesheet" href="/assets/css/brands.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/solid.min.css">
  <link rel="stylesheet" href="/assets/css/datalab.css">
  <script src="assets/js/utils.js"></script>
<script src="assets/js/apexcharts.min.js"></script>
<link href="/assets/css/montserrat.css" rel="stylesheet">
<style>
  #map {
    height: 100%;
  }
  .mapcontainer { 
    height: 400px;
  }
  .marginafter{
    margin-bottom: 30px;
  }
</style>


</head>

<body>
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>

  <section class="section">
    <div class="container">
      <div id="charts-container marginafter" class="columns is-multiline">
        
      </div>

    </div>
    <div class="container">
      <div class="message-header">
        <p><span class="icon"><i class="fas fa-map"></i></span><span>District Heatmap</span></p>

      </div>
      <div class="message-body">
        <div class="card">
          <div class="card-content mapcontainer" style="position: relative;">
            <div id="map">
        
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container mapcontainer">
      <div id="map">
        
      </div>

    </div> -->



  </section>
  <div id="popup" class="modal">
    <div class="modal-background"></div>
    <div  class="modal-content">
    </div>
    <button onclick="javascript:closePopup()" class="modal-close is-large" aria-label="close"></button>
  </div>
  <div id="include-footer">
    {% include 'footer.html' %}
  </div>
  <script src="assets/js/localDebug.js"></script>
  <script src="assets/js/widgetFunction.js"></script>
  <script src="assets/js/datalab.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBWZkxFczvPqoEPCr6uBFm5wgNPo4f-n8&libraries=visualization&callback=initMap"></script>
  <script>
    var map, heatmap;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        //lat: 34.0837, lng: 74.7973 33.6137
        zoom: 7,
        center: {lat: 33.6137, lng: 74.7973}, 
        mapTypeId: 'roadmap'
      });

      heatmap = new google.maps.visualization.HeatmapLayer({
        data: getPoints(),
        map: map
      });
      heatmap.set('radius', heatmap.get('radius') ? null : 35);
    }
    // Heatmap data
    function getPoints() {
      return [
        new google.maps.LatLng(34.0837, 74.7973),
        new google.maps.LatLng(34.4188, 74.6357),
        new google.maps.LatLng(33.7594, 74.8039),
        new google.maps.LatLng(34.1595, 74.3587),
        new google.maps.LatLng(33.9349, 74.6400),
        new google.maps.LatLng(33.3716, 74.3152),
        new google.maps.LatLng(32.8263, 75.2479),
        new google.maps.LatLng(32.732998, 74.864273),
        new google.maps.LatLng(33.9819, 75.0144),
        new google.maps.LatLng(34.5262, 74.2546)
      ];
    }
  </script>
</body>

</html>