<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>On-Call Doctors | CovidKashmir</title>
  {% include 'favicons.html' %}

  <link rel="stylesheet" href="/assets/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/index.css">
  <link rel="stylesheet" href="/assets/css/brands.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/solid.min.css">
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/utils.js"></script>


</head>

<body>
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>

  <section class="section">
    <div class="container">
      <article>
      	  <div class="notification is-info is-light">
            <button class="delete"></button>
            Kindly Note: Theses are <strong>Public Helpline Numbers</strong> and have been
            taken from 
            <ol>
              <li><a target="_blank" href="https://twitter.com/drsamiarashid/status/1242058670218727430">Twitter Post of Principal GMC. (23-03-2020 to 31-03-2020)</a></li>
              <li><a target="_blank" href="https://twitter.com/drsamiarashid/status/1244972205756174336">Twitter Post of Principal GMC. (01-04-2020 to 15-04-2020)</a></li>
              <li><a target="_blank" href="http://www.gmcs.edu.in/Photos/04-15-2011-06-54-GMC-Public%20Helpline%20Numbers%20of%20Doctors.pdf">PDF on GMC Srinagar Website (16-04-2020 to 30-04-2020)</a></li>
              <li><a href="http://www.gmcs.edu.in/Photos/05-02-2001-26-03-GMC-duty%20roster.pdf" target="_blank" rel="noopener noreferrer">PDF on GMC Srinagar Website (01-05-2020 to 15-05-2020)</a></li>
            </ol>
            This has
            been done to make it easy for public to access these.
          </div>
        <div class="message-header">
          <p>On Call Duty Roster - GMC Srinagar 
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button class="button" onclick="javascript:" aria-haspopup="true" aria-controls="dropdown-menu">
                <span id="date-now">Dropdown button</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content" id="date-options">
              </div>
            </div>
          </div>

        </div>
        <div id="data-table">
          <progress class="progress is-hidden is-small is-primary" max="100">75%</progress>
          <h1 id="nodata-error" class="subtitle is-1 has-text-centered is-hidden">NO DATA FOUND</h1>
          <table class="table is-fullwidth" style="overflow-x:auto;">
            <thead>
              <tr>
                <td>Name</td>
                <td>Speciality</td>
                <td>Phone No</td>
              </tr>
            </thead>

            <tbody>

            </tbody>
          </table>
        </div>

      </article>
    </div>
  </section>
  <div id="include-footer">
    {% include 'footer.html' %}
  </div>
  <script src="assets/js/gmc.js"></script>
  <script src="assets/js/widgetFunction.js"></script>
  <script src="assets/js/localDebug.js"></script>

</body>

</html>
