<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CovidKashmir</title>
  {% include 'favicons.html' %}

  <link rel="manifest" href="manifest.json" />

  <link rel="stylesheet" href="assets/css/bulma.min.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/sortable-theme-minimal.css">
  <link rel="stylesheet" href="/assets/css/brands.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/solid.min.css">
  <link rel="stylesheet" href="/assets/css/datalab.css">
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/jquery.csv.min.js"></script>
  <script src="assets/js/html2canvas.min.js"></script>
  <script src="assets/js/canvas2image.js"></script>
  <script src="assets/js/sortable.min.js"></script>
  <script src="assets/js/snap.svg-min.js"></script>
  <script src="assets/js/utils.js"></script>
  <script src="assets/js/apexcharts.min.js"></script>
  <script src="/assets/js/twitter.js" charset="utf-8"></script>
  <link href="/assets/css/montserrat.css" rel="stylesheet">

</head>

<body>
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>
  <br />
  <div class="container">

    <article class="message">
      <div class="message-body">
        <p style="font-family: 'Montserrat', sans-serif; font-size: 14px; padding:10px; text-align: justify;"><span
            class="has-text-danger"><i class="fa fa-exclamation-circle"></i></span> Dear users, our website is <span
            class="has-text-info">completely non-profit & independent. We do not collect any donations. </span> All
          technological costs are covered by the
          contributing developers. Please do not fall for any scam and let us know if anyone approaches you and asks you
          to donate to this website. <a href="about.html">Contact Us</a>

        </p>

      </div>
    </article>
    <button id="buttonDownload" onclick="javascript:downloadApplication();" style="margin-left: auto; margin-right: auto; display: block;" class="button is-rounded is-primary is-outlined is-hidden">
      <span style="margin-right: 5px;" class="icon is-small">
        <i class="fas fa-download"></i>
      </span>Download Application
    </button>
  </div>

  <section class="section">
    <div class="container">
      <article id="stats" class="message is-primary">
        <div class="message-header">
          <p class="has-text-centered"><span class="icon"><i class="fas fa-table"></i></span><span>Statistics</span>
            <!-- (Updated at: <span id="patientstats_updated"></span>) -->
          </p>
          <p>
            <button onclick="javascript:loadStats()" class="button">
              <span class="icon is-small">
                <i class="fas fa-sync"></i>
              </span>
              <span>Refresh</span>
            </button>
<!-- 
            <button onclick="javascript:shareStatsText()" class="button">
              <span class="icon is-small">
                <i class="fas fa-share-alt"></i>
              </span>
              <span>Share</span>
            </button> -->
          </p>
            
        </div>


        <div class="message-body">
            <div class="container">
                <p>
                  <span class="tag is-warning" style="margin-left: 2px;">Last Updated at:  
                  <strong>  <span id="patientstats_updated"></span>  </strong>  
                  </span>
                   </p>
                <br/>
              
               
                
            </div>
          <div class="columns is-multiline">

            

            <div class="column is-half-tablet is-one-quarter-desktop">
              
              <div class="tile is-parent">
             
                <article class="tile tile-total is-child box">

                  <div class="container-stat">
                   
                    <p><i class="fas fa-users"></i>
                      <span class="count-head">TOTAL</span>
                      <span id="cases_total" class="count-num loadanim"></span>
                    </p>
                    <p>
                      <span class="count-head-daily">New: </span>
                      <span id="cases_total_today" class="count-num-daily"></span>
                    </p>
                    <div id="slTotal" class="sparkline"></div>
                  </div>

                </article>
              </div>
            </div>

            <div class="column is-half-tablet is-one-quarter-desktop">
              <div class="tile is-parent">
                <article class="tile tile-recovered is-child box">

                  <div class="container-stat">
                    <p>
                      <i class="fas fa-heart"></i>
                      <span class="count-head">Recovered</span>

                      <span id="cases_recovered" class="count-num loadanim"></span>


                    </p>
                    <p>
                      <span class="count-head-daily">New: </span>
                      <span id="cases_recovered_today" class="count-num-daily"></span>
                    </p>
                    <div id="slRecovered" class="sparkline"></div>
                  </div>

                </article>
              </div>
            </div>

            <div class="column is-half-tablet is-one-quarter-desktop">
              <div class="tile is-parent">
                <article class="tile tile-active is-child box">

                  <div class="container-stat">
                    <p>
                      <i class="fas fa-bed"></i>
                      <span class="count-head">Active</span>

                      <span id="cases_active" class="count-num loadanim"></span>


                    </p>
                    <p>
                      <span class="count-head-daily">New: </span>
                      <span id="cases_active_today" class="count-num-daily"></span>
                    </p>
                    <div id="slActive" class="sparkline"></div>
                  </div>

                </article>
              </div>
            </div>

            <div class="column is-half-tablet is-one-quarter-desktop">
              <div class="tile is-parent">
                <article class="tile tile-death is-child box">

                  <div class="container-stat">
                    <p>
                      <i class="fas fa-ambulance"></i>
                      <span class="count-head">Death</span>

                      <span id="cases_deaths" class="count-num loadanim"></span>


                    </p>
                    <p>
                      <span class="count-head-daily">New: </span>
                      <span id="cases_deaths_today" class="count-num-daily"></span>
                    </p>
                    <div id="slDeceased" class="sparkline"></div>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <br />
          <p class="source-message">www.covidkashmir.org
            <br />#StayHomeStaySafe
          </p>
        </div>
    </div>
    </article>
    <br>
    <div class="container has-text-centered ">
      <a href="details.html" class="button is-primary is-rounded">View Patient List</a>
    </div>
    <br>
    <div class="container">
      <article id="samplestats" class="message is-info">
        <div class="message-header">
          <p class="has-text-centered"><span class="icon"><i class="fas fa-table"></i></span><span>Sample
              Statistics</span></p>

        </div>


        <div class="message-body">

            <div class="container">
                <p>
                  <span class="tag is-warning" style="margin-left: 2px;">Last Updated at: 
                 <strong> <span id="stats_date"></span> </strong>  
                  </span>
                   </p>
                <br/>
              
               
                
            </div>


          <div class="columns is-multiline">
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="tile is-parent">
                <article class="tile tile-samples is-child box">

                  <div class="container-stat">

                    <p><i class="fas fa-syringe"></i>
                      <span class="count-head">Samples Collected</span>
                      <span id="stats_samples" class="count-num loadanim"></span>
                    </p>
                    <p>
                      <span class="count-head-daily">New: </span>
                      <span id="stats_samples_today" class="count-num-daily"></span>
                    </p>
                    <div id="slSamples" class="sparkline"></div>
                  </div>
                </article>
              </div>
            </div>

            <div class="column is-half-tablet is-one-third-desktop">
              <div class="tile is-parent">
                <article class="tile tile-posper is-child box">

                  <div class="container-stat">
                    <p>
                      <i class="fas fa-lungs-virus"></i>
                      <span class="count-head">Positive Percentage</span>

                      <span id="stats_posper" class="count-num loadanim"></span>


                    </p>
                    <div id="slPositivePercentage" class="sparkline"></div>
                  </div>
                </article>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="tile is-parent">
                <article class="tile tile-negper is-child box">

                  <div class="container-stat">
                    <p>
                      <i class="fas fa-lungs"></i>
                      <span class="count-head">Negative Percentage</span>

                      <span id="stats_negper" class="count-num  loadanim"></span>


                    </p>
                    <div id="slNegativePercentage" class="sparkline"></div>
                  </div>
                </article>
              </div>
            </div>

          </div>
          <br />
        </div>
    </div>
    </article>
    </div>
    <br>
    <article>
      <div class="container">
        <div class="message-header">
          <p><span class="icon"><i class="fas fa-virus"></i></span><span>Active Cases Heat Map</span></p>
        </div>
        <div class="message-body">
          <div class="columns">
            <div class=" column is-half">
                <progress class="progress is-success" max="100">30%</progress>

              <div id="map-container">

              </div>
              <div class="legend is-mobile">
                <svg width="100%" height="50px" id="legend">
                </svg>
              </div>
              <br>
              <div style="display: block;margin: auto;" id="map">
              </div>
              <br />
              <div class="columns is-mobile is-multiline">
                <div class="column is-full">
                  <h1 id="map-district_name" class="has-text-centered title is-size-3 is-size-4-mobile has-text-black">
                    Total</h1>
                </div><br /><br /><br />
                <div class="column map-total">
                  <h1 id="map-cases_total" class="has-text-centered has-text-danger">
                    XXX</h1>
                  <h1 class="has-text-centered title has-text-danger map-count-text">Total</h1>
                </div>
                <div class="column map-active">
                  <h1 id="map-cases_active" class="has-text-centered has-text-info">
                    XXX</h1>
                  <h1 class="has-text-centered title map-count-text has-text-info">Active</h1>
                </div>
                <div class="column map-recovered">
                  <h1 id="map-cases_recovered" class="has-text-centered has-text-success">XXX</h1>
                  <h1 class="has-text-centered title map-count-text has-text-success">Recovered</h1>
                </div>
                <div class="column map-death">
                  <h1 id="map-cases_deceased" class="has-text-centered has-text-grey-dark">XXX</h1>
                  <h1 class="has-text-centered title map-count-text has-text-grey-dark">Deceased</h1>
                </div>

              </div>
              <div>
                <h3 class="has-text-centered">Map Source: <a
                    href="https://pib.gov.in/PressReleasePage.aspx?PRID=1590112" target="_blank">Map of UTs -
                    pib.gov.in</a> (Click on the district to view stats).</h3>
                <h3 class="has-text-centered"><i><b>Note: </b></i>This includes information of only those patients whose
                  district was confirmed</h3>
              </div>
            </div>
            <br>
            <div class="column is-half">
              <article>
                <div class="message-header">
                  <p>District Data</p>
                </div>
                <div class="messasge-body">
                  <div class="table-container" id="district-table">
                    <table class="table is-fullwidth is-bordered is-striped" data-sortable style="overflow-x:auto;">
                        <progress class="progress is-success" max="100">30%</progress>

                      <thead>
                        <tr>
                          <th data-sortable="false">District</th>
                          <th data-sortable-type="numeric">Total</th>
                          <th data-sortable-type="numeric">Active</th>
                          <th data-sortable-type="numeric">Recovered</th>
                          <th data-sortable-type="numeric">Deceased</th>
                          <th data-sortable-type="numeric">Cases per million</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </article>
              <div>
                <h3 class="has-text-centered">Population Source: <a
                    href="http://censusindia.gov.in/pca/DDW_PCA0000_2011_Indiastatedist.xlsx" target="_blank">Census of India Website - Office of the Registrar General & Census Commissioner, India<a/></h3>
              
              </div>
            </div>
          </div>
        </div>
    </article>
    <br>
    <article>
      <div class="container">
        <div class="message-header">
          <p><span>Visualisations</span></p>

        </div>
        <div class="message-body">
            <progress class="progress is-success" max="100">30%</progress>

          <div class="card">
            <div class="card-content">
              <div id="chart1">
              </div>
            </div>
          </div>
        </div>
        <div class="container has-text-centered ">
          <a href="datalab.html" class="button is-primary is-rounded"><span class="icon"><i
                class="fas fa-chart-bar"></i></span><span>See more Visualisations</span></a>
        </div>
      </div>
    </article>
    <br>




    <article>
      <div class="container">
        

          <div class="columns">
              <div class="column is-6">

                  <div class="message-header">
                    <p>
                      <span class="blink live-back">TRACKER</span>
                    </p>
                  </div>
                  
                    
                 
    
                  <div class="message-body">
    
                    <div class="card news-feed-card">
    
                      <div class="card-content">
    
                        <div class="content">
    
                       
                       <h4 id="head-all-stats">India Stats</h4>
                          <div class="columns is-mobile is-multiline inside-all-container">
                        <div class="column all-total">
                                 <h3 id="indTotal" style="color: #ff073a;">XXX</h3>
                                  <h4 style="color: #ff073a;">Total</h4>
                                </div>
                              <div class="column all-Active">
                                  <h3 id="indActive" style="color: #28a745;">XXX</h3>
                                  <h4 style="color: #28a745;">Active</h4>
                               </div>
                               <div class="column all-Recovered">
                                  <h3 id="indRecovered" style="color: rgba(0, 123, 255, 1);">XXX</h3>
                                  <h4 style="color:rgba(0, 123, 255, 1);">Recovered</h4>
                               </div>
                                <div class="column all-Death">
                                    <h3 id="indDead" style="color: rgba(108, 117, 125, 1);">XXX</h3>
                                    <h4 style="color: rgba(108, 117, 125, 1);">Death</h4>
                                 </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                    <div class="card news-feed-card">
    
                        <div class="card-content">
      
                          <div class="content">
      
                         
                           <h4 id="head-all-stats">World Stats</h4>
                            <div class="columns is-mobile is-multiline inside-all-container">
                          <div class="column all-total">
                                   <h3 id="wTotal" style="color: #ff073a;"> XXX</h3>
                                    <h4 style="color: #ff073a;">Total</h4>
                                  </div>
                               
                                 <div class="column all-Recovered">
                                    <h3 id="wRecovered" style="color: rgba(0, 123, 255, 1);">224312</h3>
                                    <h4 style="color:rgba(0, 123, 255, 1);">Recovered</h4>
                                 </div>
                                  <div class="column all-Death">
                                      <h3 id="wDead" style="color: rgba(108, 117, 125, 1);">213242</h3>
                                      <h4 style="color: rgba(108, 117, 125, 1);">Death</h4>
                                   </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
                </div>
    
              </div>

            <div class="container column is-6 ">
              <div class="message-header">
                <p>
                  Twitter Feed <span class="blink"><i class="fab fa-twitter"></i></span>
                </p>
              </div>

              <div id="twitterfeed-container" class="message-body">

              </div>
            </div>

        </div>
      </div>

    </article>
    <br />
    <!-- <div class="container has-text-centered ">
      <a href="statistics.html" class="button is-primary is-rounded">View Detailed Statistics (Govt)</a>
    </div> -->
    <br />


    </div>
  </section>
  <br>

  <!-- Modals -->
  <div id="modal-stats-image" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Statistics</p>
        <button class="delete" aria-label="close" onclick="javascript:toggleModal('modal-stats-image')"></button>
      </header>
      <section class="modal-card-body">

      </section>
      <footer class="modal-card-foot">
        <a download="covid19kashmir_stats.png" class="button is-success">Download</a>
        <button class="button" onclick="javascript:toggleModal('modal-stats-image')">Cancel</button>
      </footer>
    </div>
  </div>
  <div id="modal-stats-text" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Statistics</p>
        <button class="delete" aria-label="close" onclick="javascript:toggleModal('modal-stats-text')"></button>
      </header>
      <section class="modal-card-body">
        <div class="control">
          <textarea class="textarea" id="stats-textarea" readonly>This content is readonly</textarea>
        </div>
      </section>
      <footer class="modal-card-foot">
        <a onclick="javascript:copyStatsText()" class="button is-success">Copy</a>
        <button class="button" onclick="javascript:toggleModal('modal-stats-text')">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="container">

  <article class="message">
    <div class="message-body">
      <p style="font-family: 'Montserrat', sans-serif; font-size: 14px; padding:10px; text-align: justify;"><span
          class="has-text-danger"><i class="fa fa-exclamation-circle"></i></span> In Order to Improve Speed of Website Detailed Patient Data has been moved to another page. <span
          class="has-text-info"><a href="details.html">Click Here To Visit</a></span> 

      </p>

    </div>
  </article>
</div>
  <div class="container">

    <hr />
    <div class="columns">

      <div class="column is-4">
        <article class="tile is-child box below-box-self">
          <h5>On Call Duty Roster<br /> GMC Srinagar.</h5>
          <i class="fa fa-h-square"></i> <br /> <br />
          <a href="gmc.html" class="button is-small is-danger is-rounded">View Numbers</a>
        </article>
      </div>

      <div class="column is-4">

        <article class="tile is-child box below-box-self">

          <h5>Myth's About COVID19. <br /> WHO </h5>
          <i class="fa fa-times"></i> <br /> <br />
          <a href="mythbuster.html" class="button is-small is-danger is-rounded">View Myths</a>
        </article>

      </div>
      <div class="column is-4">
        <article class="tile is-child box below-box-self">

          <h5>Important. <br /> Phone Numbers </h5>
          <i class="fa fa-phone-square"></i> <br /> <br />
          <a href="phones.html" class="button is-small is-info is-danger is-rounded">View Emergency Numbers</a>
        </article>


      </div>

    </div>


  </div>


  <br />
  <br />
  <div id="include-footer">
    {% include 'footer.html' %}
  </div>
  <script src="assets/js/index.js"></script>
  <script src="assets/js/localDebug.js"></script>
  <script src="assets/js/widgetFunction.js"></script>

  <!-- <script src="assets/js/newsFeed.js"></script> -->
</body>

</html>
