<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid19Kashmir</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/4ac40a47d1.js"></script>
  <script src="assets/js/utils.js"></script>

    
</head>
<body>
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="inclide-navbar">
    {% include 'navbar.html' %}
  </div>
    
  <section class="section">

    <div class="container">
      
      <p>This Data Has Been Taken From World Health Organization Website: <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters" title="">Source Link</a> </p>
<br/>
    </div>

    <div class="container mycont" id="mycont">
       



    </div>
  </section>
  <div id="include-footer">
    {% include 'footer.html' %}
  </div>
  <script src="assets/js/localDebug.js"></script>
  <script src="assets/js/widgetFunction.js"></script>

  <script>
    $.getJSON("https://spreadsheets.google.com/feeds/list/1DMv7T3kSMzr-IQQTeQRGx7b_Ya7obs2XIJGdx6vdjqM/od6/public/values?alt=json", function (data) {

      var sheetData = data.feed.entry;
      var i;
      for (i = 0; i < sheetData.length; i++) {
         
        var question = data.feed.entry[i]['gsx$q']['$t'];
        var answer = data.feed.entry[i]['gsx$a']['$t'];

        $(".mycont").append("<article class='message'><div class='message-header'><p>"+question+"</p></div><div class='message-body'><p>"+answer+"</p></div></article>'");
      }
    });
    $(document).ready(function(){
    $(".navbar-burger").click(function() {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
  
    });
})

  </script>
</body>
</html>
