<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mythbuster | CovidKashmir</title>
    
      {% include 'favicons.html' %}
    
    <link rel="stylesheet" href="assets/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/brands.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/solid.min.css">  
    <script src="assets/js/utils.js"></script>
</head>
<body>
  <div id="include-header">
    
      {% include 'header.html' %}
      
  </div>
  <div id="include-navbar">
    
      {% include 'navbar.html' %}
    
  </div>
  <section class="section">
    <div class="container">
      <p>This Data Has Been Taken From World Health Organization Website: <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters" title="">Source Link</a> </p>
<br/>
    </div>
    <div class="container mycont" id="mycont">
       
          <article class='message'>
            <div class='message-header'>
              <p>COVID-19 virus can be transmitted in areas with hot and humid climates.</p>
            </div>
            <div class='message-body'>
              <p>From the evidence so far, the COVID-19 virus can be transmitted in ALL AREAS, including areas with
hot and humid weather. Regardless of climate, adopt protective measures if you
live in, or travel to an area reporting COVID-19. The best way to
protect yourself against COVID-19 is by frequently cleaning your hands. By
doing this you eliminate viruses that may be on your hands and avoid infection
that could occur by then touching your eyes, mouth, and nose.</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Cold weather and snow CANNOT kill the new coronavirus.</p>
            </div>
            <div class='message-body'>
              <p>There is no reason to believe that cold weather can kill the new coronavirus or other diseases. The normal human body temperature remains around 36.5°C to 37°C, regardless of the external temperature or weather. The most effective way to protect yourself against the new coronavirus is by frequently cleaning your hands with alcohol-based hand rub or washing them with soap and water.
MB_cold_snow </p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Taking a hot bath does not prevent the new coronavirus disease.</p>
            </div>
            <div class='message-body'>
              <p>Taking a hot bath will not prevent you from catching COVID-19. Your normal body temperature remains around 36.5°C to 37°C, regardless of the temperature of your bath or shower. Actually, taking a hot bath with extremely hot water can be harmful, as it can burn you. The best way to protect yourself against COVID-19 is by frequently cleaning your hands. By doing this you eliminate viruses that may be on your hands and avoid infection that could occur by then touching your eyes, mouth, and nose.</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>The new coronavirus CANNOT be transmitted through mosquito bites.</p>
            </div>
            <div class='message-body'>
              <p>To date there has been no information nor evidence to suggest that the new coronavirus could be transmitted by mosquitoes. The new coronavirus is a respiratory virus which spreads primarily through droplets generated when an infected person coughs or sneezes, or through droplets of saliva or discharge from the nose. To protect yourself, clean your hands frequently with an alcohol-based hand rub or wash them with soap and water. Also, avoid close contact with anyone who is coughing and sneezing.
</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Are hand dryers effective in killing the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>No. Hand dryers are not effective in killing the 2019-nCoV. To protect yourself against the new coronavirus, you should frequently clean your hands with an alcohol-based hand rub or wash them with soap and water. Once your hands are cleaned, you should dry them thoroughly by using paper towels or a warm air dryer.</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Can an ultraviolet disinfection lamp kill the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>UV lamps should not be used to sterilize hands or other areas of skin as UV radiation can cause skin irritation.</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>How effective are thermal scanners in detecting people infected with the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>Thermal scanners are effective in detecting people who have developed a fever (i.e. have a higher than normal body temperature) because of infection with the new coronavirus.

However, they cannot detect people who are infected but are not yet sick with fever. This is because it takes between 2 and 10 days before people who are infected become sick and develop a fever.</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Can spraying alcohol or chlorine all over your body kill the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>No. Spraying alcohol or chlorine all over your body will not kill viruses that have already entered your body. Spraying such substances can be harmful to clothes or mucous membranes (i.e. eyes, mouth). Be aware that both alcohol and chlorine can be useful to disinfect surfaces, but they need to be used under appropriate recommendations.
</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Do vaccines against pneumonia protect you against the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>No. Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenza type B (Hib) vaccine, do not provide protection against the new coronavirus.

The virus is so new and different that it needs its own vaccine. Researchers are trying to develop a vaccine against 2019-nCoV, and WHO is supporting their efforts.

Although these vaccines are not effective against 2019-nCoV, vaccination against respiratory illnesses is highly recommended to protect your health.
</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Can regularly rinsing your nose with saline help prevent infection with the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>No. There is no evidence that regularly rinsing the nose with saline has protected people from infection with the new coronavirus. 

There is some limited evidence that regularly rinsing nose with saline can help people recover more quickly from the common cold. However, regularly rinsing the nose has not been shown to prevent respiratory infections.
</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Can eating garlic help prevent infection with the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>Garlic is a healthy food that may have some antimicrobial properties. However, there is no evidence from the current outbreak that eating garlic has protected people from the new coronavirus.</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Does the new coronavirus affect older people, or are younger people also susceptible?</p>
            </div>
            <div class='message-body'>
              <p>People of all ages can be infected by the new coronavirus (2019-nCoV). Older people, and people with pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with the virus. 

WHO advises people of all ages to take steps to protect themselves from the virus, for example by following good hand hygiene and good respiratory hygiene.
</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Are antibiotics effective in preventing and treating the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>No, antibiotics do not work against viruses, only bacteria.

The new coronavirus (2019-nCoV) is a virus and, therefore, antibiotics should not be used as a means of prevention or treatment.

However, if you are hospitalized for the 2019-nCoV, you may receive antibiotics because bacterial co-infection is possible.</p>
            </div>
          </article>
       
          <article class='message'>
            <div class='message-header'>
              <p>Are there any specific medicines to prevent or treat the new coronavirus?</p>
            </div>
            <div class='message-body'>
              <p>To date, there is no specific medicine recommended to prevent or treat the new coronavirus (2019-nCoV).

However, those infected with the virus should receive appropriate care to relieve and treat symptoms, and those with severe illness should receive optimized supportive care. Some specific treatments are under investigation, and will be tested through clinical trials. WHO is helping to accelerate research and development efforts with a range or partners.</p>
            </div>
          </article>
       
    </div>
  </section>
  <div id="include-footer">
    
      {% include 'footer.html' %}
      
  </div>
  <script src="assets/js/widgetFunction.js"></script>
  <script src="assets/js/localDebug.js"></script>

</body>
</html>
