<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>In Press | CovidKashmir</title>
    {% include 'favicons.html' %}

    <link rel="stylesheet" href="assets/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/brands.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/solid.min.css"> 
    <script src="assets/js/utils.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700i,900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="assets/css/about.css">
    
</head>
<body>
  
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>

  <section class="section">


      <div class="about-container container">
      
         <div class="tile is-parent">
         <article class="tile is-child box">
        <!-- Put any content you want -->
     
          <h2>In Press</h2>
          <br/>
          <p">Contact us on: <strong>contact@covidkashmir.org</strong></p>
             <hr/>
            <h4><strong>Greater Kashmir </strong> </h4>
            <p><strong>on</strong>: March 30</p>
            <p><strong>Headline: </strong>3 youth launch website for info on COVID19</p>
            <a href="https://www.greaterkashmir.com/news/kashmir/3-youth-launch-website-for-info-on-covid19/">Link to News</a>
            <hr/>
            <hr/>
            <h4><strong>Pristine Kashmir </strong> </h4>
            <p><strong>on</strong>: March 30</p>
            <p><strong>Headline: </strong>3 youth launch website for info on COVID19</p>
            <a href="https://pristinekashmir.in/news/kashmir/3-youth-launch-website-for-info-on-covid19">Link to News</a>
            <hr/>
        </article>



      </div>
      </div>



  </section>

  <div id="include-footer">
    {% include 'footer.html' %}
  </div>

  <script src="assets/js/index.js"></script>
  <script src="assets/js/widgetFunction.js"></script>
  <script src="assets/js/localDebug.js"></script>


</body>
</html>
