<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>In Press | CovidKashmir</title>
  {% include 'favicons.html' %}

  <link rel="stylesheet" href="assets/css/bulma.min.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="/assets/css/brands.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/solid.min.css">
  <script src="assets/js/utils.js"></script>

  <link href="/assets/css/montserrat.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/about.css">

</head>

<body>

  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>

  <section class="section">


    <div class="about-container container">

      <div class="tile is-parent">
        <article class="tile is-child box">
          <!-- Put any content you want -->

          <h2>In Press</h2>
          <br />
          <p">Contact us on: <strong>contact@covidkashmir.org</strong></p>
            <hr />
            <h4><strong>Greater Kashmir </strong></h4>
            <p><strong>on</strong>: March 30</p>
            <p><strong>Headline: </strong>3 youth launch website for info on COVID19</p>
            <a href="https://www.greaterkashmir.com/news/kashmir/3-youth-launch-website-for-info-on-covid19/">Link to
              News</a>
            <hr />
            <hr />
            <h4><strong>Pristine Kashmir </strong> </h4>
            <p><strong>on</strong>: March 30</p>
            <p><strong>Headline: </strong>3 youth launch website for info on COVID19</p>
            <a href="https://pristinekashmir.in/news/kashmir/3-youth-launch-website-for-info-on-covid19">Link to
              News</a>
            <hr />
            <hr />
            <h4><strong>Kashmir Observer </strong> </h4>
            <p><strong>on</strong>: March 31</p>
            <p><strong>Headline: </strong>3 students create COVID 19 Tracker</p>
            <a href="https://kashmirobserver.net/2020/03/31/3-kashmiri-students-create-covid-19-tracker/">Link to
              News</a>
            <hr />
            <hr />
            <h4><strong>Daily Gadyal </strong> </h4>
            <p><strong>on</strong>: March 31</p>
            <p><strong>Headline: </strong>3 Kashmiri students develop J&K Covid-19 tracker website</p>
            <a href="https://dailygadyal.in/2020/03/31/3-kashmiri-students-develop-jk-covid-19-tracker-website/">Link to
              News</a>
            <hr />
            <hr />
            <h4><strong>JK News Service </strong> </h4>
            <p><strong>on</strong>: March 31</p>
            <p><strong>Headline: </strong>3 Kashmiri students develop J&K Covid-19 tracker website</p>
            <a href="https://www.jknewsservice.in/2020/03/31/3-kashmiri-students-develop-jk-covid-19-tracker-website/">Link to
              News</a>
            <hr />
            <hr />
            <h4><strong>Kashmir Patriot </strong> </h4>
            <p><strong>on</strong>: March 30</p>
            <p><strong>Headline: </strong>3 Kashmiri students develop J&K Covid-19 tracker website</p>
            <a href="https://kashmirpatriot.com/2020/03/30/3-kashmiri-students-develop-jk-covid-19-tracker-website//">Link to
              News</a>
            <hr />
            <hr />
            <h4><strong>MENAFN </strong> </h4>
            <p><strong>on</strong>: March 31</p>
            <p><strong>Headline: </strong>3 Kashmiri Students Create Covid-19 Tracker</p>
            <a href="https://menafn.com/1099942200/3-Kashmiri-Students-Create-Covid-19-Tracker">Link to
              News</a>
            <hr />
            <hr />
            <h4><strong>Kashmir Images </strong> </h4>
            <p><strong>on</strong>: April 1</p>
            <p><strong>Headline: </strong>Tracking COVID-19 pandemic in J-K just a click away</p>
            <a href="https://thekashmirimages.com/2020/04/01/tracking-covid-19-pandemic-in-j-k-just-a-click-away/">Link to
              News</a>
            <hr />
                                                                                                                  <hr />
            <h4><strong>Inverse Journal</strong></h4>
            <p><strong>on</strong>: April 4</p>
            <p><strong>Headline: </strong>COVID-19 Kashmir Tracker: When Young IT Professionals Harness the Power of Open Source to Help Make a Difference</p>
            <a href="https://www.inversejournal.com/2020/04/04/covid-19-kashmir-tracker-when-young-it-professionals-harness-the-power-of-open-source-to-help-make-a-difference/">Link to
              News</a>
            <hr />
            <h4><strong>Foreign Policy In Focus</strong></h4>
            <p><strong>on</strong>: April 14</p>
            <p><strong>Headline: </strong>Fighting Covid-19 — And Repression — in Kashmir</p>
            <a href="https://fpif.org/fighting-covid-19-and-repression-in-kashmir/">Link to
              News</a>
            <hr />
            <h4><strong>Vrede vzw</strong></h4>
            <p><strong>on</strong>: April 16</p>
            <p><strong>Headline: </strong>Het bestrijden van COVID-19 en van repressie in Kasjmir</p>
            <a href="https://www.vrede.be/nieuws/het-bestrijden-van-covid-19-en-van-repressie-kasjmir">Link to
              News</a>
            <hr />
        </article>



      </div>
    </div>



  </section>

  <div id="include-footer">
    {% include 'footer.html' %}
  </div>

  <script src="assets/js/index.js"></script>
  <script src="assets/js/widgetFunction.js"></script>
  <script src="assets/js/localDebug.js"></script>


</body>

</html>
