<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sources | CovidKashmir</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/brands.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/solid.min.css">  <script src="assets/js/utils.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700i,900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="assets/css/about.css">
    
</head>
<body>
  
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>

  <section class="section">


      <div class="about-container container">
      
         <div class="tile is-parent">
         <article class="tile is-child box">
        <!-- Put any content you want -->
     
          <h2>Our Sources</h2>
          <br/>
          <hr/>
          <p class="question">For Statistics & Patient Details.</p>
          <p class="answer">For Statistics and Patient Details we collect data on our own once verified/checked from our sources. <br/>
          <br/><b>Our Sources Include</b><br/>

          <ul>
            <li>1. Rohit Kansal (Spokesperson J&K Govt) Twitter Handle</li>
            <li>2. Dr. Shahid Choudhary(District Magistrate/Development Commissioner, Srinagar. Kashmir) Twitter Handle</li>

          </ul>
<br/>
          <p style="font-weight: 800">Among News Publications</p>
          <p>Kindly Note: News From News Portals is only used to obtain more information, Main information comes from Govt. Sources Only.</p><br/>
          <ul>
            <li>1. Press Trust Of India</li>
            <li>2. Kashmir Life</li>
            <li>3. India Today</li>
            <li>4. ANI</li>
          </ul>
          
          
          <hr/>
          <p class="question">For Detailed Statistics.</p>
          <p class="answer">For Detailed Statistics, we take the data from official Press Release of Jammu and Kashmir Government. Uploaded by Director Information and Public Relations. 

            <a href="https://twitter.com/diprjk/status/1243149491919675393?s=19" title="">Link</a>
          </p>
          <hr/>
          <p class="question">For GMC (Govt. Medical College) Srinagar Consultations.</p>
          <p class="answer">For GMC Consultation, Data From Principal GMC Srinagar (Dr. Samia Rashid) Is Used.
            <a href="https://twitter.com/diprjk/status/1243149491919675393?s=19" title="">Link</a>
          </p>
          <hr/>
          <p class="question">For MYTH BUSTER and Q&A.</p>
          <p class="answer">Data From WHO (World Health Organization) is used, Links are provided on particular pages.
          </p>
          <hr/>
        </article>



      </div>
      </div>



  </section>

  <div id="include-footer">
    {% include 'footer.html' %}
  </div>
  <script src="assets/js/localDebug.js"></script>

  <script src="assets/js/index.js"></script>
  <script src="assets/js/widgetFunction.js"></script>

</body>
</html>
