<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Statistics | CovidKashmir</title>
    {% include 'favicons.html' %}

    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/brands.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/solid.min.css">  
    <script src="/assets/js/utils.js"></script>

    
</head>
<body>
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>
   
  <section class="section">
    <div class="container">
          <article>
              <div class="message-header">
                  <p>Surveillance Statistics <a id="data-source" href="" target="_blank">(Source)</a> </p>
                    <div class="dropdown">
                      <div class="dropdown-trigger">
                        <button class="button" onclick="javascript:" aria-haspopup="true" aria-controls="dropdown-menu">
                          <span id="date-now">Dropdown button</span>
                          <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                      <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content" id="date-options">
                        </div>
                      </div>
                    </div>
                  
              </div>
            <div id="data-table">
              <progress class="progress is-hidden is-small is-primary" max="100">75%</progress>
              <h1 id="nodata-error" class="subtitle is-1 has-text-centered is-hidden">NO DATA FOUND</h1>
            <table class="table is-fullwidth is-bordered is-striped" style="overflow-x:auto;">
              <thead>
                <tr>
                  
                </tr>
              </thead>
    
              <tbody>
    
              </tbody>
            </table>
            </div>
      </article>
    </div>
  </section>
  <div id="include-footer">
    {% include 'footer.html' %}
  </div>
  <script src="assets/js/localDebug.js"></script>

  <script src="assets/js/statistics.js"></script>
    <script src="assets/js/widgetFunction.js"></script>
</body>
</html>
