<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CovidKashmir</title>
  {% include 'favicons.html' %}

  <link rel="manifest" href="manifest.json" />

  <link rel="stylesheet" href="assets/css/bulma.min.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/sortable-theme-minimal.css">
  <link rel="stylesheet" href="/assets/css/brands.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/solid.min.css">
  <link rel="stylesheet" href="/assets/css/datalab.css">
  <link rel="stylesheet" href="/assets/css/stores.css">
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/sortable.min.js"></script>
  <script src="assets/js/utils.js"></script>

  <link href="/assets/css/montserrat.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/leaflet.css"/>
  <link rel="stylesheet" href="/assets/css/leaflet.awesome-markers.css">
  <script src="assets/js/leaflet.js"></script>
  <script src="assets/js/leaflet.awesome-markers.js"></script>

</head>

<body>
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>
  <section class="section">
    <div class="container">
      <div class="message-header">
        <p><span class="icon"><i class="fas fa-map"></i></span><span>Map View</span></p>

      </div>
      <div class="message-body">

        <div id="mapid">

        </div>
        <h3 class="has-text-centered">All stores aren't located on this map due to their absence on Google Maps. Below
          table contains details of all stores. </h3>
        <h3 class="has-text-centered"><a href="mailto:contact@covidkashmir.org">Inform us about missing locations</a>
        </h3>
      </div>
    


    <div class="message-header">
      <p><span class="icon"><i class="fas fa-store"></i></span><span>List of Stores</span></p>
      <p><a id="sourcelink" class="has-text-white"  href="https://twitter.com/srinagaradmin/status/1245979874327584768?s=19">View Source</a></p>
    </div>
    <div class="message-body">
      <div id="data-table">
        <progress class="progress is-hidden is-small is-primary" max="100">75%</progress>
        <h1 id="nodata-error" class="subtitle is-1 has-text-centered is-hidden">NO DATA FOUND</h1>
        <div id="store-tabs" class="tabs is-fullwidth is-boxed">
          <ul>
            <li class="is-active"><a href="javascript:switchType(0)">Grocery</a></li>
            <li><a href="javascript:switchType(1)">Medical</a></li>
          </ul>
        </div>
        
        <div class="table-container">
          <table id="table-grocery" class="table is-fullwidth is-bordered is-striped" style="overflow-x:auto;">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Area</th>
                <th>Contact No.</th>
                <th>Designated Official</th>
                <th>Contact No.</th>
                <th>View on Google Maps</th>
                <th>Source</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <table id="table-medical" class="table is-fullwidth is-bordered is-striped is-hidden" style="overflow-x:auto;">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Contact No.</th>
                <th>View on Google Maps</th>
                <th>Source</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
  </section>
  <div id="include-footer">
    {% include 'footer.html' %}
  </div>
  <script src="assets/js/stores.js"></script>
  <script src="assets/js/localDebug.js"></script>
  <script src="assets/js/widgetFunction.js"></script>

  <!-- <script src="assets/js/newsFeed.js"></script> -->
</body>

</html>