<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About | CovidKashmir</title>
  {% include 'favicons.html' %}
  <link rel="stylesheet" href="assets/css/bulma.min.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/about.css">
  <script src="assets/js/jquery-3.4.1.min.js"></script>

  <link rel="stylesheet" href="/assets/css/brands.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/solid.min.css">
    <script src="assets/js/utils.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700i,900&display=swap" rel="stylesheet">


</head>

<body>
  <div id="include-header">
    {% include 'header.html' %}
  </div>
  <div id="include-navbar">
    {% include 'navbar.html' %}
  </div>

  <section class="section">


    <div class="about-container container">

      <div class="tile is-parent">
        <article class="tile is-child box">
          <!-- Put any content you want -->

          <h2>About</h2>
          <br />

          <p class="question">Are We Registered With Govt. or Run By Govt?</p>
          <p class="answer">No</p>
          <hr />
          <p class="question">Who We Are?</p>
          <p class="answer">We are a group of programmers collecting data from different sources,
            and adding them here on website.

          </p>
          <hr />
          <p class="question">How is the Data Gathered?</p>
          <p class="answer">Data is gathered after state press release and pushed into
            data sheets.

          </p>
          <hr />
          <br />
          <h2>OUR CONTRIBUTORS</h2>
          <br />

          <h3>Haider Ali Punjabi</h3>
          <p>Can Be Reached Here <a href="https://twitter.com/HAliPunjabi" rel="noreferrer" target="_blank">Twitter</a> , <a
              href="https://instagram.com/haideralipunjabi" rel="noreferrer" target="_blank">Instagram</a> , <a
              href="https://github.com/haideralipunjabi" rel="noreferrer" target="_blank">Github</a> , <a  rel="noreferrer" target="_blank" href="https://haideralipunjabi.com">Website</a>
            , <a href="mailto://haideralipunjabi@hackesta.org">Mail</a></p>

          <br />

          <h3>Syed Vikas Bukhari</h3>
          <p>Can Be Reached Here: <a rel="noreferrer" target="_blank" href="https://twitter.com/vikasbukhari">Twitter</a> , <a
              href="https://facebook.com/vikasbukhari" title=""  rel="noreferrer" target="_blank">Facebook</a> </p>

          <br />
          <h3>Mudasir Ali</h3>
          <p>Can Be Reached Here <a href="https://twitter.com/imudasirali">Twitter</a> , <a href="https://facebook.com/imudasirali">Facebook</a></p>

        </article>

      </div>



    </div>



  </section>

  <div id="include-footer">
    {% include 'footer.html' %}
  </div>
  <script src="assets/js/localDebug.js"></script>

  <script src="assets/js/widgetFunction.js"></script>

</body>

</html>